/* SEÇÃO HOME */
.home {
    background: radial-gradient(107.83% 49.3% at 50% 50.7%, #82B033 0%, #436D17 60.05%);
    color: var(--color-white);
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 6em 0em 3em 0em;
}

.consumo-consciente {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.consumo-consciente-logo {
    height: 80px;
    position: center;
}

.consumo-consciente-atitudes {
    text-align: center;
    font-family: var(--type);
    font-size: 20.833px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.copo-seu-logo {
    padding: 3em  0em 1.75em 0em;
}

.copo-img {
    width: 338px;
    height: auto;
}

.copo-flecha {
    height: 58px;
}

.conjunto-flecha-texto {
    
    position: absolute;
}

.copo-texto {
    font-family: var(--type);
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    padding: 10px 0px 0px 35px;
}

.marca-bold {
    font-family: var(--type);
    font-size: 12.5px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

.vantagens-copo-texto {
    text-align: center;
    font-family: var(--type);
    font-size: 21.667px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.vantagens-copo-titulo {
    text-align: center;
    font-family: var(--type);
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: var(--color-light-Green, #A8CF45);
    text-transform: uppercase;      
}

.seta {
    height: 9px;
    padding: 2em 0em 1.5em 0em;
}

.selos {
    display: flex;
    flex-direction:row;
    gap: 11em;
}

.FSC {
    height: 35px;
}

.produto-sustentavel {
    height: 32px;
}


/* SEÇÃO PAPEL VS PLÁSTICO */
.papel-vs-plastico {
    height: 424px;
    position: relative;
}

.img-copo {
    width: 220px; 
    height: auto;
}

.flechas-copo {
    width: 350px; 
    height: auto; 
}

.flechas-copo,
.img-copo {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
}

.flechas-copo {
    left: 52%;
}

.img-copo {
    left: 49.9%;
}

.metade-1,
.metade-2 {
    width: 50%;
    height: 100%;
    position: absolute;
}


.metade-1 {
    left: 0;
    background-color: var(--color-light-green);
}

.metade-2 {
    right: 0;
    background-color: var(--color-dark-gray);
}

/* SEÇÃO ADOTE */
.adote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 0em 3em 0em;
}

.adote-conteudo {
    gap: 20px;
}

.adote-titulo {
    height: 60px;
    padding-bottom: 25px;
}

.adote-texto-paragrafo {
    padding-bottom: 1em;
    width: 200px;
    color: var(--color-dark-gray);
    font-family: var(--type);
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

.adote-conteudo {
    display: flex;
}

.adote-texto {
    padding-top: 7px;
}

.icone {
    width: 134px;
}

.icone-conteudo {
    display: flex;
    gap: 10px;
}

.icone-conteudo-conjunto-svg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icone-conteudo-svg {
    width: auto;
    height: 25px;
    padding-bottom: 16px;
}

.icone-conteudo-texto {
    width: 98px;
    color: var(--color-dark-gray);
    font-family: var(--type);
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.18px;
}

.texto-renovavel {
    padding-top: 7px;
    padding-bottom: 21px;
} 

.texto-oceanos {
    padding-bottom: 17px;
}

.texto-recursos {
    padding-bottom: 18px;
}

.texto-decomposicao {
    padding-bottom: 18px;
}

.texto-reciclavel {
    padding-bottom: 0px;
} 

/* SEÇÃO RODAPE */
.rodape {
    display: flex;
    justify-content: center;
    background-color: var(--color-thin-gray);
    padding: 29px;
    gap: 25px;
}

.rodape-logo-brsupply {
    width: 120px;
    height: auto;
}

.rodape-texto {
    color: var(--color-dark-gray);
    font-family: var(--type);
    font-size: 9.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.19px;
}

.rodape-site {
    color: var(--color-orange);
    font-family: var(--type);
    font-size: 9.5px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.19px;
}