/* SEÇÃO HOME */
.home {
    background: radial-gradient(107.83% 49.3% at 50% 50.7%, #82B033 0%, #436D17 60.05%);
    color: var(--color-white);
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 6em 0em 3em 0em;
}

.consumo-consciente {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.consumo-consciente-logo {
    height: 70px;
    position: center;
}

.consumo-consciente-atitudes {
    color: var(--color-white);
    text-align: center;
    font-family: var(--type);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.copo-seu-logo {
    padding: 2.5em  0em 1em 0em;
}

.copo-img {
    width: auto;
    height: 330px;
}

.conjunto-flecha-texto {
    position: absolute;
}

.vantagens-copo-texto {
    color: var(--color-white);
    text-align: center;
    font-family: 'Proxima Nova';
    font-size: 21.667px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.vantagens-copo-titulo {
    color: var(--color-light-green);
    text-align: center;
    font-family: 'Proxima Nova';
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;      
}

.seta {
    height: 9px;
    padding: 2em 0em 1.5em 0em;
}

.selos {
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 11em;
}

.FSC {
    height: 35px;
}

.produto-sustentavel {
    height: 32px;
}


/* SEÇÃO PAPEL VS PLÁSTICO */
.papel-vs-plastico {
    height: 424px;
    position: relative;
}

.img-copo {
    width: 215px; 
    height: auto;
}

.flechas-copo {
    width: 390px; 
    height: auto; 
}

.img-copo {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
    left: 50%;
    right: 50%;
}

.flechas-copo {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; 
    left: 50%;
    right: 50%;
}

.metade-1,
.metade-2 {
    width: 50%;
    height: 100%;
    position: absolute;
}


.metade-1 {
    left: 0;
    background-color: var(--color-light-green);
}

.metade-2 {
    right: 0;
    background-color: var(--color-dark-gray);
}

/* SEÇÃO ADOTE */
.adote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 0em 3em 0em;
}

.adote-conteudo {
    gap: 20px;
}

.adote-titulo {
    height: 60px;
    padding-bottom: 25px;
}

.adote-titulo__desk {
    display: none;
}

.adote-texto-paragrafo {
    padding-bottom: 1em;
    width: 200px;
    color: var(--color-dark-gray);
    font-family: var(--type);
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

.adote-conteudo {
    display: flex;
}

.adote-texto {
    padding-top: 7px;
}

.icone {
    width: 134px;
}

.icone-conteudo {
    display: flex;
    gap: 10px;
}

.icone-conteudo-conjunto-svg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icone-conteudo-svg {
    width: auto;
    height: 25px;
    padding-bottom: 16px;
}

.icone-conteudo-texto {
    width: 98px;
    color: var(--color-dark-gray);
    font-family: var(--type);
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.18px;
}

.texto-renovavel {
    padding-top: 7px;
    padding-bottom: 21px;
} 

.texto-oceanos {
    padding-bottom: 17px;
}

.texto-recursos {
    padding-bottom: 18px;
}

.texto-decomposicao {
    padding-bottom: 18px;
}

.texto-reciclavel {
    padding-bottom: 0px;
} 

/* SEÇÃO RODAPE */
.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-thin-gray);
    padding: 29px;
    gap: 25px;
}

.rodape-logo-brsupply {
    width: 120px;
    height: auto;
}

.rodape-texto {
    color: var(--color-dark-gray);
    font-family: var(--type);
    font-size: 9.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.19px;
}

.rodape-site__botao {
    text-decoration: none;
    color: var(--color-orange);
    font-family: var(--type);
    font-size: 9.5px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.19px;
}

/* RESPONSIVIDADE SMARTPHONE 320px */
@media screen and (max-width: 360px) {
    /* SEÇÃO HOME */
    .consumo-consciente {
        gap: 10px;
    }

    .consumo-consciente-logo {
        height: 65px;
    }

    .consumo-consciente-atitudes {
        font-size: 16.5px;
    }

    .copo-img {
        height: 300px;
    }

    .vantagens-copo-texto {
        font-size: 19px;
    }


    /* SEÇÃO PAPEL VS PLÁSTICO */
    .papel-vs-plastico {
        height: 360px;
    }

    .img-copo {
        width: 165px; 
    }

    .flechas-copo {
        width: 320px; 
    }

    /* SEÇÃO ADOTE */
    .adote-conteudo {
        gap: 10px;
    }

    .adote-titulo {
        height: 50px;
    }

    .adote-texto-paragrafo {
        width: 150px;
        font-family: 5px;
        line-height: 115%;
    }

    .adote-texto {
        padding-top: 5px;
    }

    .icone-conteudo-svg {
        padding-bottom: 24px;
    }

    .texto-renovavel {
        padding-top: 5px;
        padding-bottom: 30px;
    } 

    .texto-oceanos {
        padding-bottom: 27px;
    }

    .texto-recursos {
        padding-bottom: 27px;
    }

    .texto-decomposicao {
        padding-bottom: 26px;
    }
    
}

/* RESPONSIVIDADE DESKTOP */
@media screen and (min-width: 1280px) {
    /* SEÇÃO HOME */
    .home {
        height: 100vh;
        border: 4em 0em;
    }

    .consumo-consciente-logo {
        height: 80px;
    }

    .consumo-consciente-atitudes {
        font-size: 21px;
    }

    .copo-seu-logo {
        padding: 4.5em  0em 2.5em 0em;
    }

    .copo-img {
        width: auto;
        height: 580px;
    }

    .seta {
        height: 8px;
        padding: 3em 0em 0em 0em;
        position: absolute;
        bottom: 2.5em;
    }

    .selos {
        gap: 900px;
    }

    .FSC {
        height: 40px;
    }
    
    .produto-sustentavel {
        height: 38x;
    }

    /* SEÇÃO PAPEL VS PLASTICO */
    .papel-vs-plastico {
        height: 100vh;
     }
    
    .img-copo {
        width: 370px; 
        height: auto;
    }
    
    .flechas-copo {
        width: 700px; 
        height: auto; 
        top: 51%;
        left: 49.8%;
    }

    /* SEÇÃO ADOTE */
    .adote {
        height: 80vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 2em 18em 0em 0em;
    }

    .adote-conteudo {
        gap: 120px;
    }

    .adote-titulo {
        display: none;
    }

    .adote-titulo__desk {
        display: block;
        height: 150px;
        padding-bottom: 25px;
    }

    .adote-texto-paragrafo {
        width: 450px;
        font-size: 17px;
    }

    .icone-conteudo-conjunto-texto {
        height: 300px;
    }

    .icone-conteudo {
        gap: 25px;
    }

    .icone-conteudo-svg {
        height: 65px;
        padding-bottom: 35px;
    }

    .icone-conteudo-texto {
        width: 252px;
        font-size: 20px;
    }

    .texto-renovavel {
        padding-top: 12px;
        padding-bottom: 60px;
    } 
    
    .texto-oceanos {
        padding-bottom: 53px;
    }
    
    .texto-recursos {
        padding-bottom: 50px;
    }
    
    .texto-decomposicao {
        padding-bottom: 51px;
    }
    
    .texto-reciclavel {
        padding-bottom: 0px;
    } 

    /* SEÇÃO RODAPE */
    .rodape {
        padding: 40px;
        gap: 35px;
    }   

    .rodape-logo-brsupply {
        width: 170px;
    }
    
    .rodape-texto {
        font-size: 12px;
        letter-spacing: -0.19px;
        padding-bottom: 5px;
    }
    
    .rodape-site__botao {
        font-size: 12px;
        letter-spacing: -0.19px;
    }
}